@import '../../components/home/swiper-title/swiper-title-MB/swiperTitleMB'
@import '../../components/home/swiper-title/swiper-title-PC/swiperTitlePC'
@import '../../components/home/swiper-category/swiperCategory'
@import '../../components/home/swiper-carousel/swiperCarousel'
@import '../../components/home/free-games/freeGames'
@import '../../components/home/home-catalog/catalog'
    
#home
    padding-bottom: 5.5rem
    .home-container
        width: 90%
        max-width: 100rem
        margin-left: auto
        margin-right: auto
        @include responsive_ls
            width: 75%