#home
    .home-container
        width: 90%
        max-width: 100rem
        margin-left: auto
        margin-right: auto
        padding: 0 0.625rem
        @include responsive_xl
            width: 75%