@import './order-summary/orderSummary'
@import './payment-method/paymentMethod'
@import './success-checkout/checkoutSuccess'
    
#checkout-page
    @include flex(row, center)
    font-family: $openSans
    .checkout-black
        @include size(100%, 100%)
        position: fixed
        top: 0
        left: 0
        z-index: 9
        background-color: rgba(18, 18, 18, 0.522)
    .checkout-container
        top: 0
        z-index: 10
        position: fixed
        overflow-y: auto 
        @include size(100%, 100%)
        max-width: 1200px
        background-color: white
        @include responsive_sm
            border: 2px solid #4d4d4d
        .checkout-loading
            @include flex(column, center, center)
            @include size(100%, 100%)
            gap: 1.3rem
            p
                @include font(1.2rem, 500)
        .checkout
            .checkout-title
                padding: 1.7rem 1rem
                @include flex(row, space-between, center)
                border-bottom: 1px solid rgba(20,20,20,0.16)
                @include responsive_sm
                    width: calc(100% - 308px)
                    height: 80px
                    padding: 0 1rem
                h5
                    @include font(.875rem, 600)
                    text-transform: uppercase
                div
                    @include flex(row, $align: center)
                    gap: .7rem
                    h3
                        text-transform: uppercase
                        @include flex(row, $align: center)
                        color: #0078F2
                        gap: .2rem
                        svg
                            width: 1rem
                        span
                            @include font(.7rem)
                    .close-icon
                        cursor: pointer
                        width: 13px
                        @include responsive_sm
                            display: none
                        path
                            fill: rgba(20,20,20,0.72)
            .order-detail
                @include flex(column)
                padding: 0 1rem 13rem
                @include responsive_sm
                    @include flex(row)
                    padding: 0
                    overflow-y: hidden