.browse-content
    .browse-filter
        width: 15.313rem
        height: 400px
        flex-shrink: 0
        background-color: green
        position: absolute
        right: -100%
        @include responsive_ls
            position: static